body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
}

.closedSidebar {
    /* background: #5267ba; */
    background: #00415f;
    width: 5vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.sidebarBtn {
    width: auto;
    height: auto;
    margin: 7px 5px;
    background: #00b0e8;
    border: 2px solid #fff;
    border-radius: 7px;
    cursor: pointer;
}

.sidebarBtn > svg {
    height: 70%;
    width: 100%;
    margin: auto;
}
